body {
  background-color: var(--background-global);
  max-width: 85rem;;
  margin: auto;
}

#header {
  display: flex;
  justify-content: center;
}

.header-item {
  margin: 2rem 0 2rem 1rem;
  color: var(--font-red);
  font-weight: 600;
}

.header-item-dropdown {
  margin: 0 0 0 1rem;
  top: 2rem;
  color: var(--font-red);
  font-weight: 600;
}

.header-item:hover {
  color: black;
}

.dropdown {
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 5rem;
  background-color: var(--grey-light-global);
  min-width: 160px;
  border-radius: 0.55rem;
  border: 0.1rem solid black;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

#hr-dropdown {
  width: 30%;
}

.dropdown-content a {
  text-align: center;
  border-radius: 0.55rem 0.55rem 0 0;
}

.dropdown-content a:last-child {
  border-radius: 0 0 0.55rem 0.55rem;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fas.fa-user, .fa-user-plus {
  top: 2.2rem;
}

.fas.fa-home {
  margin-top: 2.2rem;
}

hr {
  width: 80%;
  margin:0 auto;
}

.space {
  margin-bottom: 10rem;
}

#logo {
  height: 10rem;
  width: 25rem;
  border: 0.1rem solid black;
  margin: 0 auto;
  color: var(--font-red);
  font-size: 4rem;
  line-height: 10rem;
  text-align: center;
  font-weight: 700;
}

main {
  padding-top: 15rem;
  overflow-x: visible;
}

.slider {
  height: 25rem;
}

.fas.fa-caret-left, .fas.fa-caret-right {
  color: var(--font-red);
  padding-top: 2rem;
}

.fas.fa-caret-left {
  padding-right: 2rem;
}

.fas.fa-caret-right {
  padding-left: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.widget-ctn {
  display: inline-flex;
  justify-content: space-between;
}

.widget:hover .widget-logo {
  background-color: #f5e6e6;
}

.widget:hover .widget-title {
  background:linear-gradient(#B8B8B8 0%, #FFFFFF 100%);
}

.widget {
  width: 22.7rem;
  height: 12rem;
  margin: 1rem;
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
}

.widget-logo {
  flex-grow: 2.5;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-title {
  flex-grow: 1.25;
  background-color:blue;
  border-top: 0.1rem solid black;
  background:linear-gradient(#FFFFFF 0%, #B8B8B8 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 15rem;
}

.php-img {
  width: 5rem;
}

.mysql-img {
  width: 6rem;
}

.js-img {
  width: 6rem;
}

.njs-img {
  width: 6rem;
}

button {
  padding: 0.25rem 0;
  width: 10rem;
  margin: 0.30rem 0;
  font-size: 1.5rem;
  border-radius: 0.55rem;
  border: 0.1rem solid black;
}


.btn-active {
  background-color: var(--grey-global);
}

.btn-inactive {
  background-color: var(--grey-light-global);
}

.btn-inactive:hover {
  background-color: var(--grey-global);
}

.btn-red:hover {
  background-color: black;
}

.btn-red {
  margin-top: 5rem;
  background-color: var(--font-red);
  color: white;
}

h3:hover {
  color: var(--font-red);
}

#logout {
  text-align: center;
  font-weight: 600;
}
