main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

#sidebar-left {
  flex-grow: 1;
}

#table {
  flex-grow: 3;
}

#sidebar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#username {
  font-weight: 600;
  color: var(--font-red);
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
  line-height: 1;
}

#hr-sidebar {
  margin: 1rem 0;
  width: 20%;
}

#courses {
  font-weight: 600;
  margin-bottom: 1rem;
}

table {
  width: 90%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

tr {
  text-align: center;
}

td {
  padding: 0.1rem;
}

th {
  padding-bottom: 0.75rem;
  font-size: 1.75rem;
}

tr :nth-child(1) {
  text-align: start;
  padding-left: 1.5rem;
}


tr:not(:last-child):not(:first-child) {
  border-bottom: 0.1rem solid var(--grey-global);
}


#total-courses {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  color: var(--font-red);
}


#course-number {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
