* {
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-size: 1.6rem;
  line-height: normal;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --background-global: #f2e6f2;
  --background-nav: #5a005a;
  --font-red: #990000;
  --grey-global: #B8B8B8;
  --grey-light-global: #E3E3E3;
  --grey-dark: #303030;
  --purple-light: #f2e6f2;

}

html, body {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  padding: 0.25rem 0;
  width: 10rem;
  margin: 0.30rem 0rem 2rem 0rem;
  font-size: 1.5rem;
  border-radius: 0.55rem;
  border: 0.1rem solid black;
}


.btn-active {
  background-color: var(--grey-global);
}

.btn-inactive {
  background-color: var(--grey-light-global);
}

.btn-inactive:hover {
  background-color: var(--grey-global);
}

.btn-red:hover:not(.completed) {
  background-color: black;
}

.btn-red {
  margin-top: 5rem;
  background-color: var(--font-red);
  color: white;
}

.loader, .loader-quiz {
  display: none;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border: 1rem solid var(--grey-light-global);
  border-top: 1rem solid var(--font-red);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header-link {
  display: flex;
}

.header-link i, .header-link span {
  color: white;
}

.header-link:hover i, .header-link:hover span {
  color: var(--grey-global);
}



