* {
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-size: 1.6rem;
  line-height: normal;
}

html {
  font-size: 62.5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --background-global: #F9F0F0;
  --font-red: #990000;
  --grey-global: #B8B8B8;
  --grey-light-global: #E3E3E3;
  --grey-dark: #303030;

}

html, body {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  padding: 0.25rem 0;
  width: 10rem;
  margin: 0.30rem 0;
  font-size: 1.5rem;
  border-radius: 0.55rem;
  border: 0.1rem solid black;
}


.btn-active {
  background-color: var(--grey-global);
}

.btn-inactive {
  background-color: var(--grey-light-global);
}

.btn-inactive:hover {
  background-color: var(--grey-global);
}

.btn-red:hover {
  background-color: black;
}

.btn-red {
  margin-top: 5rem;
  background-color: var(--font-red);
  color: white;
}


