main {
  padding-top: 5.5rem;
}

span:first-of-type:not(#course-desc-txt, #login-link) {
  margin-right: 3rem;
}

#course-desc-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#course-img {
  flex-grow: 0;
  height: 18rem;
  width: 26.245rem;
  margin-bottom: 5.5rem;
}

.space {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
}

#course-desc-txt {
  width: 80%;
  margin-top: 2rem;
  text-align: justify;
}

#enroll-btn {
  margin: 3rem 0;
}

#login-prompt {
  font-weight: 600;
  margin-top: 3rem;
  margin-left: 1rem;
}

#login-link {
  color: var(--font-red);
}

#login-link:hover {
  color: black;
}

#login-prompt, #login-link {
  line-height: 3.2rem;
}

.fas.fa-exclamation-circle.fa-2x {
  margin-right: 0.25rem;
}

#post-enroll {
  margin-top: 3rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 848px) {

  main {
    padding-left: 0;
}


